<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/detail_forum.css' />
  </head>
  <body>
  	<nav>
  		<a id="home" href="http://localhost:3000/index">CRAWL MANAGEMENT DASHBOARD</a>
      <ul>
        <li><a href="http://localhost:3000/">NEWS<a></li>
        <li><a href="http://localhost:3000/comment">COMMENT</a></li>
        <li><a href="http://localhost:3000/forum">FORUM</a></li>
      </ul>
  	</nav>
    <div id="box">
      <p class="title">project_name:<span><%= data[0].project_name %></span></p>
      <p class="title">title:<a href="<%= data[0].url %>"><%= data[0].news_title %></a></p>
      <p class="title">source:<span id="src"><%= data[0].src %></span>time:<span><%= data[0].publish_time %></span></p>
      <p class="title">crawl time:<span><%= data[0].crawl_time %></span></p>
      <p class="title text">content:</p>
      <div id="content">

        <%= data[0].content %>
      </div>
    </div>
  	<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  	<!-- <script src="/javascripts/result_show.js"></script> -->
  </body>
</html>