<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/result_show.css' />
    <link rel="stylesheet" href='/nav_font/iconfont.css' />
    <link rel="stylesheet" href='/font_menu/iconfont.css' />
  </head>
  <body>
  	<nav>
      <a id="home" href="http://localhost:3000/index"><i class="iconfont icon-pachong"></i>爬虫管理系统</a>
      <a id="create">爬虫创建</a>
      <ul id="menu">
        <li><a href="http://localhost:3000"><i class="iconfont icon-NEWS-copy"></i>新闻爬虫</a></li>
        <li><a href="http://localhost:3000/comment"><i class="iconfont icon-comment"></i>评论爬虫</a></li>
        <li><a href="http://localhost:3000/forum"><i class="iconfont icon-luntan"></i>论坛爬虫</a></li>
      </ul>
    </nav>
    <div class="side">
      <ul>
        <li id="overview" title="总览" class="item-color "><i class="iconfont icon-zonglan"></i></li>
        <li id="result" title="爬取结果" class="item-color active"><i class="iconfont icon-jieguoliulan"></i></li>
        <li id="code" title="爬虫源码" class="item-color"><i class="iconfont icon-yuanma"></i></li>
        <li id="download" title="导出到文件" class="item-color"><i class="iconfont icon-xiazai"></i></li>
      </ul>
    </div>
  	<div id="container">
      <table class="item ">
        <tr>
          <th class="first-tit "><%= head[0] %></th>
          <th ><%= head[1] %></th>
          <th ><%= head[2] %></th>
          <th class="last-tit ">详情</th>
        </tr>
      <% for(var i = 0;i < data.length;i++){ %>
      <tr class="item">
        <td class="author"><%= data[i].comment_author %></td>
        <td><%= data[i].content %></td>
        <td class="time"><%= data[i].publish_time %></td>
        <td><span  class="details">详情</span></td>
      </tr> 
      <% } %>
      </table>
      
    </div>
  	<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  	<script src="/javascripts/result_show.js"></script>
  </body>
</html>


