<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/result_overview.css' />
    <link rel="stylesheet" href='/nav_font/iconfont.css' />
    <link rel="stylesheet" href='/font_menu/iconfont.css' />
  </head>
  <body>
  	<nav>
      <a id="home" href="http://localhost:3000/index"><i class="iconfont icon-pachong"></i>爬虫管理系统</a>
      <a id="create">爬虫创建</a>
      <ul id="menu">
        <li><a href="http://localhost:3000"><i class="iconfont icon-NEWS-copy"></i>新闻爬虫</a></li>
        <li><a href="http://localhost:3000/comment"><i class="iconfont icon-comment"></i>评论爬虫</a></li>
        <li><a href="http://localhost:3000/forum"><i class="iconfont icon-luntan"></i>论坛爬虫</a></li>
      </ul>
    </nav>
    <div class="side">
      <ul>
        <li id="overview" title="总览" class="item-color active"><i class="iconfont icon-zonglan"></i></li>
        <li id="result" title="爬取结果" class="item-color"><i class="iconfont icon-jieguoliulan"></i></li>
        <li id="code" title="爬虫源码" class="item-color"><i class="iconfont icon-yuanma"></i></li>
        <li id="download" title="导出到文件" class="item-color"><i class="iconfont icon-xiazai"></i></li>
      </ul>
    </div>
  	<div id="container">
      <div class="basic-info">
            <h3>基本信息</h3>
            <table>
                <tr>
                    <td>
                        <strong>爬虫名称 : </strong><span id="crawl-name" ><%= name %></span>
                    </td>
                </tr>
               
                <tr>
                    <td>
                        <strong>爬取数据类型 ：</strong><span id="crawl-type" ><%= type %></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><%= head[0] %> </strong><span id="crawl-num" ><%= head[1] %></span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="chart-container">
            <h3>爬取链接数概况</h3>
                <div id="charts">
                    <ul id="numbers">
                        <li><span>100%</span></li>
                        <li><span>90%</span></li>
                        <li><span>80%</span></li>
                        <li><span>70%</span></li>
                        <li><span>60%</span></li>
                        <li><span>50%</span></li>
                        <li><span>40%</span></li>
                        <li><span>30%</span></li>
                        <li><span>20%</span></li>
                        <li><span>10%</span></li>
                        <li><span>0%</span></li>
                    </ul>
                    <ul id="bars">
                        <li><div data-num="0" data-percentage="0" class="bar"></div><span>等待爬取</span></li>
                        <li><div data-num="0" data-percentage="0" class="bar"></div><span>爬取成功</span></li>
                        <li><div data-num="0" data-percentage="0" class="bar"></div><span>重试</span></li>
                        <li><div data-num="0" data-percentage="0" class="bar"></div><span>爬取失败</span></li>
                    </ul>
                </div>
        </div>
    </div>
  	<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  	<script src="/javascripts/result_overview.js"></script>
  </body>
</html>

